@import "tailwindcss";

/* Theme */

@theme {
  --font-mono: "IBM Plex Mono", monospace;
}

/* Utility classes */

/* Defines a utility class for rendering a dashed border (only works for
   vertical borders) that is identical on both Chrome- and Firefox-based
   browsers, e.g. border-dashed-[1.75em] creates a dashed border where each
   section is 1.75em in length.
 */
@utility border-dashed-* {
  background-image: linear-gradient(to bottom, #000 50%, #ffffff00 50%);
  background-repeat: repeat-y;
  background-position: right top, right bottom;
  background-size: 0.1em --value([length]);
}
