/* style.css */

body {
    background-color: #fdf6e3;
}

h1 {
    text-align: center;
    color: #212529;
}

#content {
  margin: 0 auto 0 auto;
  margin-top: 1em;
  text-align: center;
}

#text-areas {
    margin-top: 1em;
}

#button-area {
    margin-top: 1em;
}

textarea {
  background-color: #fdf6e3;
  color: #212529;
  resize: none;
}

#codeInput, #codeOutput {
    width: unset;
    margin-left: 0.50em;
    margin-right: 0.50em;
}
